<div class="container">
<form (ngSubmit)="onUserAdd(f)" #f="ngForm" >
  <div class="form-group">
    <label>Emp Id</label>
    <input name="emp_id" required minlength=5  ngModel #emp_id="ngModel" class="form-control">
    <label class="alert alert-danger" *ngIf="!emp_id.hasError('required') && !emp_id.pristine"  >Emp Id > 5</label>
    <label class="alert alert-danger" *ngIf="emp_id.hasError('required') && !emp_id.pristine"  >Emp Id is required</label>

  </div>
  <div class="form-group">
    <label>Emp Name</label>
    <input name="emp_name" ngModel class="form-control">
    <label>Emp Name is required</label>
  </div>
  <div class="form-group">
    <label>Emp Salary</label>
    <input name="emp_salary" ngModel class="form-control">
  </div>
  <div class="form-group">
    <label>Emp City</label>
    <input name="emp_city" ngModel class="form-control">
    <label>Emp City is required</label>
  </div>
  <button type="submit" class="form-control btn btn-primary">Add Emp</button>
</form>
</div>
