<div class="container">
  <table class="table" >
    <thead>
      <th>Emp Id</th>
      <th>Name</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of arr" >
        <td>{{item.emp_id}}</td>
        <td>{{item.emp_name}}</td>
        <td>
            <button  type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>

              <button (click)="onEmpDetails(item)" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
              </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
