<div class="container" *ngIf="(products$ | async) as Products" >
  <h1>product-display !</h1>
  <hr>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>MFG</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of Products ">
        <td>{{item.pro_name}}</td>
        <td>{{item.pro_price}}</td>
        <td>{{item.pro_qty}}</td>
        <td>{{item.pro_mfg}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>
</div>
