<div class="container">

  <div class="col-md-4">
    <app-add-todo></app-add-todo>
  </div>

  <div class="col-md-4">
    <h1>Main List</h1>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of arr">
          <td>{{item.id}}</td>
          <td>{{item.title}}</td>
          <td><button (click)="onDelete(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <app-tasklist></app-tasklist>
  </div>
</div>
