<div class="container">
<div  *ngIf="users.length<=0" >
  <img src="../../assets/giphy.gif" >
</div>
  <h1>Users</h1>

  <table class="table">
    <thead>
      <th>User Name</th>
      <th>User email</th>
      <th>User Mobile No</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of (user$ |async) as User ">
        <td>{{item.user_name}}</td>
        <td>{{item.user_email}}</td>
        <td>{{item.user_mobile_no}}</td>
        <td>
          <button (click)="onDelete(item)" >Delete</button>
          <button (click)="onEdit(item)" >Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
