<div class="container">
  <form [formGroup]="user_signup" (ngSubmit)="onUserAdd()">
    <div class="form-group">
      <input formControlName="user_name" class="form-control" placeholder="Enter User Name">
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_name').hasError('required') && !user_signup.get('user_name').pristine ">Username is
        required</label>
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_name').hasError('minlength') && !user_signup.get('user_name').pristine ">Username
        shoule be > 5</label>
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_name').hasError('pattern') && !user_signup.get('user_name').pristine ">Only
        Char</label>
    </div>
    <div formGroupName="password_group" >
      <div class="form-group">
        <input formControlName="user_password" type="password" class="form-control" placeholder="Enter User Password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="user_confirm_password">
      </div>
      <label class="alert alert-danger" *ngIf="user_signup.get('password_group').hasError('sarkhanathi') && !user_signup.get('password_group').pristine  "  >not same</label>
    </div>
    <div class="form-group">
      <input type="radio" formControlName="user_notification" value="email" >Email
      <input type="radio" formControlName="user_notification" value="phone" >Phone
    </div>
    <div class="form-group" >
      <input class="form-control" placeholder="Enter Email" formControlName="user_email" >
      <label class="alert alert-danger" *ngIf="user_signup.get('user_email').hasError('required') && !user_signup.get('user_email').pristine  "  >Email is Required</label>
      <label class="alert alert-danger" *ngIf="user_signup.get('user_email').hasError('email') && !user_signup.get('user_email').pristine  "  >Email is Invalid</label>

    </div>
    <div class="form-group" >
      <input class="form-control" placeholder="Enter Phone" formControlName="user_phone" >
      <label class="alert alert-danger" *ngIf="user_signup.get('user_phone').hasError('required') && !user_signup.get('user_phone').pristine  "  >Phone is reuired</label>

    </div>
    <div class="form-group">
      <select class="form-control" formControlName="user_city" >
        <option value="-1" >Select City</option>
        <option *ngFor="let item of cities" [value]="item"  >{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onAddHobbyClick()"  >Add Hobby</button>
      <div formArrayName="user_hobbies" *ngFor="let item of getHobbies();let i=index;"  class="form-group">
        <input class="form-control"  [formControlName]="i">
        <button (click)="onHobbyRemove(i)" class="btn btn-danger" >Delete</button>
      </div>
    </div>
    <button type="submit" class="form-control btn btn-primary">Add User</button>
  </form>
  <br>value {{user_signup.value |json }}
</div>
